

body {
  max-width:767px;
  background-color: red;
  /* min-width:320px;
  height: 100vh;


  flex-direction: column;
  display: grid;
  grid-template-areas:
    "encabezado"
    "article"
    "container"
    "footer";
  gap: 10px; */
}