*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 330px;;
  height: 100%;
  

  flex-direction: column;
  display: grid;
  grid-template-areas:
    "encabezado"
    "article"
    "footer";
  gap: 10px;
 
  background-color: rgb(204, 200, 200) ;
 
}

/* Encabezado */

.Encabezado{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 50px;
  
  
}

.Contenedor{
  width: 100%;
  margin: 0;
  padding: 0;
  /* max-width: 1200px; */

}

/* Ajuste de posicionamiento logo y del menú encabzado */
.Contenedor .btn-menu, .logo{
  float: left;
  line-height:100px;
  
}

/* Ajuste del menú del encabezado */

/* Ajuste posicionamieno del menú del encabezado */
.Contenedor .menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  line-height: 10px;
  text-align: center;
  width: 90%;
  margin-top: 15px;
  
}
/* Texto del menú de encabezado */
.Contenedor .menu a{
  display: inline-block;
  line-height: normal;
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 20px;
  
  font-size: 1rem;
  font-family: "Roboto","Arial",sans-serif;
}
.logo{
  max-width: 150px;
  display:inline
}

/*´Posición barra de busqueda  */
.SearchMenu{
  margin-top: 15px;
  
  
  
}
.search{
  display: flex;
  
  align-items: center;
  flex-wrap: wrap;
  margin-left:500px;
  

}
#search{
  display: flex;
  justify-content: center;
  align-items:flex-start ;
  width: 500px;
  height: 40px;
 
}


/* Contenedor de la  lupa */
.ContenedorLupa{
  border-width: 1px;
  padding: 5px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  animation: expandir 2s 1s alternate ease both ;
  font-size: 22px;

}

@keyframes expandir {
  10% {
    width: 4%;
    border: 1px solid;
    background-color: rgb(55, 53, 53);
  }
}


/* Ícono del micrófono */
.microfono{
  margin-left: 12px;
  font-size: 30px;
}

/* Configuración de íconos de la parte superior derecha del encabezado */
.EncIconos{
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  gap:40px;
 
}

#bell { 
  font-size: 30px;
}

#camara{
  font-size: 30px;
}

#cuadros{
  font-size: 30px;
}
#bell:hover{
  border-bottom: 4px solid #e8ee2d;
  padding-bottom: 15px;
}

#camara:hover{
  border-bottom: 4px solid #e8ee2d;
  padding-bottom: 15px;
}

#cuadros:hover{
  border-bottom: 4px solid #e8ee2d;
  padding-bottom: 15px;
}
/* Imagen de usuario */
.ImgEnc{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: flex-start;
}

/* aplicación del hover y ajuste del border de los botones del menú del encabezado */
.Contenedor .menu a:hover{
  border-bottom: 4px solid #c7c7c7;
  padding-bottom: 15px;
}

/* Cierre encabezado */

/* Inicio barra de opciones lateral */

/* Ajuste de posición del contenedor */
.container{
  /* position:fixed; */
 
  position: fixed;
  height: 100%;
  overflow: auto;

  opacity: 0.5;
  visibility: hidden;
  width: 280px;
 
}

/* Aparecer menú lateral con el click  en el ícono*/
.btn-menu{
  font-size: 35px;
}

#btn-menu:checked ~ .container{
  opacity: 10;
  visibility: visible;

}

/* fondo del sidebar y dimensiones */
.sidebar{
 
  width: 250px;
  height: 100%;
  background-color: gray;
  
  overflow: auto;
  float: left;
}


/* Ajuste del ícono X para cerrar el sidebar */

.side-hide{
  float:right;
  margin: 12px;
  color: white;
  opacity: .7;
  font-size: 24px;
  cursor: pointer;
} 
/* Ajuste del padging opciones sidebar */
.sidebar ul li{
  padding: 12px 22px;
}
/* Ajuste hover sidebar */
.sidebar ul li:hover{
  background: #4e4e4e;
  cursor: pointer;

}
/* Ajuste letra sidebar */
.sidebar ul li a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  text-shadow: 1px 1px 3px black;
  display: flex;
  align-items: center;

}
/* Se ajusta el margen superior del inicio de la opciones */
ul{
  margin-top: 30px;
}

/* Ajuste de la selección en el sidebar */

button{
  background-color: black;
  color: white;
  padding: 15px 12px;
  border:none;
  display: block;
  
  cursor:pointer;
  margin-top: 20px;
  margin-left: 10px;
}

/* Recuadro parte 2 del sidebar */
.Part2{
  padding-top: 20px ;
  padding-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-top-color: rgb(213, 209, 209) ;
  border-bottom-color: rgb(213, 209, 209) ;
  
}
/* Títulos principales sidebar */
h4{
  margin-left:10px;
  padding-bottom: 10px ;

  font-size: 15px;
  color:white;
  font-family: sans-serif;
  text-shadow: 1px 1px 3px black;
}

/* Configuración ícono sidebar */

#IconoSB{
  padding-right: 12px;
}
/* no mostrar sidebar si no se le da click al ícono  */
#btn-menu{
  display: none;
 
}

/* Ajuste imagenes sidebar de suscripciones */
.ImgSB{
  border-radius: 100%;
  padding-right: 12px;
  width: 40px;
  
}

/* Finaliza ajuste sidebar */



/* Inicia ajuste videos */




/* Ajuste posicionamiento de los videos con respecto al contenedor */

.article {
  
  width: 100%;
  height: auto;
  grid-auto-flow: dense;
  display: grid;
  grid-row: auto;
  grid-template-columns: repeat(auto-fill, minmax(25rem,1fr));
  gap:20px;
  /* display: grid;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fil,minmax(15rem,1fr)); */
  margin-left: 20px;
    
  
 

  
}

.art-item{
  
 
  margin-left: 5px;
  margin-right: 5px;

} 

iframe{
  width: 100%;
  min-width: 200px;
  height: 250px;
}


/* Auste títulos de pie de video */
 .artitem h3{
  display: flex;
  align-items: flex-start;
  justify-content: center;
 
}
/* Ajuste imágenes de creadores de contenido */

.ImgVid{
  width: 40px;
  border-radius: 20px;
 
}

.PieVideo{
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

}

/* Ajuste de los títulos de los videos */
h3{
  font-size: 1.2rem;
  white-space: normal;
  font-weight: 500;
  max-height: 4.4rem;
  text-overflow: ellipsis;
  text-align: start;
  font-family: "Roboto","Arial",sans-serif;
  text-shadow: 2px 2px 2px rgb(244, 226, 226);
  

}
/*Ajuste del span */
.PieVideo Span {
  font-size: 1rem;
  color: gray;
  font-weight: 500;
  font-family: "Roboto","Arial",sans-serif;
  text-shadow: 1px 1px 2px white;
 
  
 
  
}
 /* Finaliza ajuste videos  */

 .footer {
  height: 100px;
  margin-top: 10px;
  grid-area: footer;
  height: 100%;
  background-color: #a89797;
  
  display: flex;
  justify-content: center;
  align-items: center;
   
  
}  

