@media screen and (max-width: 320px){
  .encabezado{
      width: 20%;
  }
  .article{
      width: 70%;
  }
  .footer{
      width:10%;
  }
}



body {
  width: 100%;
  max-width: 320px;
  height: 100%;
  

  flex-direction: column;
  display: grid;
  grid-auto-flow: dense;
  grid-template-areas:
    "encabezado"
    "article"
    "footer";
  gap: 8px;
 
  background-color: rgb(204, 200, 200) ;
 
}

.article {
  width: 100%;
  height: auto;
  display: grid;
  gap: 0.5rem;
  
  grid-template-columns: auto;
}

iframe{
  width: 100%;
  max-width:280px;
  height: 200px;
}
