*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;

  height: 100%;
  
  flex-direction: column;
  display: grid;
  grid-template-areas:
    "encabezado"
    "article"
    "container"
    "footer";

  
  gap: 10px; 
 
  background-color: rgb(204, 200, 200) ;
 
}


.Contenedor{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  height: auto;

}


/* Ajuste del menú del encabezado */
.menu{
  width: 100%;
}
/* Ajuste posicionamieno del menú del encabezado */
.Contenedor .menu{
  display: flex;
  gap:4.5%;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  line-height: 10px;
  text-align: center;
  width: 100%;
  margin-top: 15px;
  
}
/* Texto del menú de encabezado */
.Contenedor .menu a{
  display: inline-block;
  line-height: normal;
  text-decoration: none;
  color: black;
  transition: 0.3s ease;
  border: 1px solid gray;
  padding: 8px;
  border-radius: 20px;
  
  font-size: 1rem;
  font-family: "Roboto","Arial",sans-serif;
}


/* Contenedor de la  lupa */
.ContenedorLupa{
  border-width: 1px;
  padding: 5px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  animation: expandir 2s 1s alternate ease both ;
  font-size: 22px;

}

@keyframes expandir {
  10% {
    width: 4%;
    border: 1px solid;
    background-color: rgb(55, 53, 53);
  }
}


/* Ícono del micrófono */
.microfono{
  margin-left: 12px;
 
}

/* Configuración de íconos de la parte superior derecha del encabezado */
.EncIconos{
  margin-top:20px;
  gap:40px;

 
}

#bell { 
  font-size: 30px;
}

#camara{
  font-size: 30px;
}

#cuadros{
  font-size: 30px;
}
#bell:hover{
  border-bottom: 4px solid #e8ee2d;
  padding-bottom: 15px;
}

#camara:hover{
  border-bottom: 4px solid #e8ee2d;
  padding-bottom: 15px;
}

#cuadros:hover{
  border-bottom: 4px solid #e8ee2d;
  padding-bottom: 15px;
}
/* Imagen de usuario */
.ImgEnc{
  width: 40px;
  height: 40px;
  border-radius: 100%;
  
}
.menu{
  width: 80%;
}
/* aplicación del hover y ajuste del border de los botones del menú del encabezado */
.Contenedor .menu a:hover{
  border-bottom: 4px solid #c7c7c7;
  padding-bottom: 15px;
}

/* Cierre encabezado */

/* Inicio barra de opciones lateral */
/* aplicación del hover y ajuste del border de los botones del menú del encabezado */
.Contenedor .menu a:hover{
  border-bottom: 4px solid #c7c7c7;
  padding-bottom: 15px;
}

/* Cierre encabezado */

/* Inicio barra de opciones lateral */

/* Ajuste de posición del contenedor */
.container{
  /* position:fixed; */
 
  position: fixed;
  height: 100%;
  overflow: auto;

  opacity: 0.5;
  visibility: hidden;
  width:clamp(12%,7vw,15%);
 
}
.sidebar{
  width: 100%;
}
#btn-menu:checked ~ .container{
  opacity: 10;
  visibility: visible;

}

/* fondo del sidebar y dimensiones */
.sidebar{
 
  height: 100%;
  background-color: gray;
  
  overflow: auto;
  float: left;
}


/* Ajuste del ícono X para cerrar el sidebar */

.side-hide{
  float:right;
  margin: 12px;
  color: white;
  opacity: .7;
  font-size: 24px;
  cursor: pointer;
} 
/* Ajuste del padging opciones sidebar */
.sidebar ul li{
  padding: 12px 22px;
}
/* Ajuste hover sidebar */
.sidebar ul li:hover{
  background: #4e4e4e;
  cursor: pointer;

}
/* Ajuste letra sidebar */
.sidebar ul li a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: sans-serif;
  text-shadow: 1px 1px 3px black;
  display: flex;
  align-items: center;

}
/* Se ajusta el margen superior del inicio de la opciones */
ul{
  margin-top: 30px;
}

/* Ajuste de la selección en el sidebar */

button{
  background-color: black;
  color: white;
  padding: 15px 12px;
  border:none;
  display: block;
  
  cursor:pointer;
  margin-top: 20px;
  margin-left: 10px;
}

/* Recuadro parte 2 del sidebar */
.Part2{
  padding-top: 20px ;
  padding-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-top-color: rgb(213, 209, 209) ;
  border-bottom-color: rgb(213, 209, 209) ;
  
}
/* Títulos principales sidebar */
h4{
  margin-left:10px;
  padding-bottom: 10px ;

  font-size: 15px;
  color:white;
  font-family: sans-serif;
  text-shadow: 1px 1px 3px black;
}

/* Configuración ícono sidebar */

#IconoSB{
  padding-right: 12px;
}
/* no mostrar sidebar si no se le da click al ícono  */
#btn-menu{
  display: none;
 
}

/* Ajuste imagenes sidebar de suscripciones */
.ImgSB{
  border-radius: 100%;
  padding-right: 12px;
  width: 40px;
  
}

/* Finaliza ajuste sidebar */

/* Inicio ajustes generales Videos */
.article{
  width: 90%;
  margin-left: clamp(3%,7vw,5%);
}



/* Ajuste imagenes sidebar de suscripciones */
.ImgSB{
  border-radius: 100%;
  padding-right: 12px;
  width: 40px;
  
}

/* Auste títulos de pie de video */
.artitem h3{
  display: flex;
  align-items: center;
  justify-content: center;
 
}
/* Ajuste imágenes de creadores de contenido */

.ImgVid{
  width: 40px;
  border-radius: 20px;
 
}

.PieVideo{
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: clamp(10px,7vw,15px);

}

/* Ajuste de los títulos de los videos */
h3{
  /* font-size: 1.2rem; */
  font-size: clamp(8px,8vw,25px);
  white-space: normal;
  font-weight: 100;
  /* max-height: 4.4rem; */
  text-overflow: ellipsis;
  text-align: start;
  font-family: "Roboto","Arial",sans-serif;
  text-shadow: 2px 2px 2px rgb(244, 226, 226);
  

}
/*Ajuste del span */
.PieVideo Span {
  font-size: 1rem;
  color: gray;
  font-weight: 500;
  font-family: "Roboto","Arial",sans-serif;
  text-shadow: 1px 1px 2px white;

  
}
 /* Finaliza ajuste videos  */

 .footer {
  height: 100px;
  margin-top: 2%;
  grid-area: footer;
  height: 100%;
  background-color: #a89797;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
}  

small{
  font-size: clamp(10px,18vw,25px);
}


/* Finaliza ajuste sidebar */


@media (min-width: 320px)and (max-width:722px){
  body{
    width: 100%;
    height: auto;
  
  }
  
 
  /* Configuración del encabezado */
  .Encabezado{
    margin-top:3%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
   
  }
 
  .Contenedor{
    width: 95%;
    display: flex;
    flex-direction: row;
  }
  /* Ajuste  ícono sidebar */


  .btn-menu{
    width: 5%;
    display:flex;
    align-items: center;
    font-size: auto;
   
   
  }
  .logo{
    width: 95%;
    
    display: flex;
   
    justify-content: flex-end;
  }
  
  
  /* Tamaño del logo */
  .Logo{
    max-width: 95px;
    display:flex;
    justify-content: flex-end;
    align-items: center;

  }

  /* Configuración barra de busqueda */
  .SearchMenu{
    width: 100%;
    padding-top: clamp(2px,100%,5px);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .search{
    display: flex;
    width: 80%;
    
    height: clamp(25px, 5vw, 45px);
  
  }
  
  #search{
    width:100%;
    
  }

  #Lupa{
    font-size: clamp(20px, 100%, 28px); 
  }

  .ContenedorLupa{  
    padding: 2px;
  }
  /* Auste ícono del micrófono */

  .microfono{
    font-size:clamp(25px, 5vw, 45px);
  }
  /* .Microfono {
    width: 100%;
    font-size: 40px;
    margin-left: 15px;
  }
  */
  .EncIconos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 4%;
    margin-right: 4%;
    gap:clamp(10px, 4vw, 25px);
    
  }

  #bell {
    font-size:clamp(20px, 4vw, 25px);
  } 

  #camara {
    font-size:clamp(20px, 4vw, 25px);
  }
  
  #cuadros {
    font-size:clamp(20px, 4vw, 25px);

  }

  .ImgEnc{
    width: clamp(25px,4vw,25px);
    height: clamp(25px,4vw,25px);
   
  }

  .menu{
    gap:4px;
    margin-bottom: 5%;
  }
  .Contenedor .menu a{
    font-size: clamp(12px, 4vw, 20px);
  }

  
  /* Ajuste letra sidebar */
  .sidebar ul li a{
    
    font-size: clamp(8px,4vw,15px);
  
  }
  
  
  /* Títulos principales sidebar */
  h4{
   
    font-size: clamp(10px,7vw,13px);
  }

  /* Configuración ícono sidebar */

  #IconoSB{
    padding-right: 12px;
  }
  /* no mostrar sidebar si no se le da click al ícono  */
  #btn-menu{
    display: none;
  
  }


 
/* Ajuste Videos */
  .article {
    height: auto;
    display: flex;
    flex-direction: column;
    gap:clamp(10px,4vw,15px);
    
  }

  .artitem{
    width: 100%;
   
  }

  iframe{
    width: 90%;
    
  }

}

@media (min-width: 722px) and (max-width:1200px){
  body{
    width: 100%;
    height: auto;
  
  }
  

  /* Configuración del encabezado */
  .Encabezado{
    margin-top:3%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
   
  }
 
  .Contenedor{
    width: 95%;
    display: flex;
    flex-direction: row;
  }
  /* Ajuste  ícono sidebar */


  .btn-menu{
    width: 5%;
    display:flex;
    align-items: center;
    font-size: auto;
   
   
  }
  .logo{
    width: 95%;
    
    display: flex;
   
    justify-content: flex-end;
  }
  
  
  /* Tamaño del logo */
  .Logo{
    max-width: 95px;
    display:flex;
    justify-content: flex-end;
    align-items: center;

  }

  /* Configuración barra de busqueda */
  .SearchMenu{
    width: 100%;
    padding-top: clamp(2px,100%,5px);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  /* Ajuste del alto de la barra de busqueda */
  .search{
    display: flex;
    width: 100%;
    height: clamp(25px, 5vw, 45px);
  
  }
  /* Ajuste tamaño y letra de la barra de busqueda */
  #search{
    width:90%;
    font-size: clamp(15px,18vw,27px);
    
  }

  #Lupa{
    font-size: clamp(20px, 17vw, 28px); 
  }

  .ContenedorLupa{  
    padding: 2px;
  }
  /* Auste ícono del micrófono */

  .microfono{
    font-size:clamp(25px, 5vw, 40px);
  }

  */
  .EncIconos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
 
    
  }

  #bell {
    font-size:clamp(25px, 5vw, 40px);
    margin-right: clamp(12px, 5vw, 15px);
  } 

  #camara {
    font-size:clamp(25px, 5vw, 40px);
    margin-right: clamp(12px, 5vw, 15px);
  }
  
  #cuadros {
    font-size:clamp(25px, 5vw, 40px);
    margin-right: clamp(12px, 5vw, 15px);

  }

  .ImgEnc{
    width: clamp(30px,18vw,45px);
    height: clamp(30px,18vw,45px);
    margin-top: 2
    
    2px;
    
   
  }
  /* Ajuste menú de opciones del encabezado */
  .menu{
    gap:4px;
    margin-bottom: 5%;
  }
  .Contenedor .menu a{
    margin-top: 1%;
    gap: clamp(3%,14vw,3.5%);
    font-size: clamp(15px, 14vw, 25px);
  }

 

  /* Aparecer menú lateral con el click  en el ícono*/
  .btn-menu{
    font-size: clamp(20px,4vw,30px);
  }

  .container{
    width: clamp(28%,17vw,30%);
  }

  .sidebar{
    width:90% ;
  }


 
  /* Ajuste letra sidebar */
  .sidebar ul li a{
    font-size: clamp(8px,4vw,18px);
  }
 

  /* Títulos principales sidebar */
  h4{
    margin-left:10px;
    padding-bottom: 10px ;
    font-size: clamp(15px,7vw,20px);
   
  }

  
/* Ajuste Videos */
  .article {
    
    height: auto;
    margin-left: clamp(3%,17vw,9%);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-template-rows:auto;
    /* margin-left: 8%; */
    gap:clamp(8px,17vw,55px);

  }

  .PieVideo{
    margin-bottom: clamp(30px,17vw,60px);
  }
  .artitem{
    margin-top: clamp(3px,100%,10px);
    
    width: 100%;
    width:clamp(220px,100%,300px);
  }

  iframe{
    width: 90%;
    height: clamp(85%,17vw,90%);
   
  }

}


/*  Para un body mayor de 1200px*/
@media  (min-width:1200px){
  .Encabezado{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .Contenedor{
    margin-top: 2%;
    margin-left: 1.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

  .SearchMenu{
    max-width: 90%;
    min-width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* Ajuste de tamaño variable del buscador  */
  .search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: clamp(25px, 5vw, 45px);
    padding-left: 2%;
  }
  
  /* Ajuste variable del ancho del buscador */
  
  #search{
    width:60%;
    font-size: clamp(20px,7vw,30px);
    
  }
 
  /* Texto del menú de encabezado */
  .Contenedor .menu a{
    padding: clamp(5px,4vw,10px);
    font-size: clamp(12px,4vw,25px);
  }

  /* Ajuste tamaño variable del logo */
  .Logo{
    width:clamp(120px,7vw,180px);
   
  }
  
 
  /* Contenedor de la  lupa */
  #Lupa{
    font-size: clamp(25px, 7vw, 30px); 
  }

  .ContenedorLupa{  
    padding: 2px;
  }
 

  /* Configuración de íconos de la parte superior derecha del encabezado */
  .EncIconos{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 60%;
    min-width: 40%;
    gap:40px;
    margin-right: clamp(2%,100%,4%);
   
  }
  
  /* Aparecer menú lateral con el click  en el ícono*/
  .barras{
    font-size: clamp(25px, 7vw, 38px); 
  }
  
  .microfono{
    font-size:clamp(25px, 7vw, 32px); 
  }
  
  .container{
    width: clamp(28%,17vw,30%);
  }

  .sidebar{
    width:90% ;
  }

  .sidebar ul li a {
    font-size: clamp(17px,17vw,22px);
  }
/* Subtítulos sidebar */
  h4{
    font-size: clamp(22px,17vw,24px)
  }
  
  .article{
    margin-top: 2%;
    width: 90%;
    height: auto;
    display: grid;
    grid-row: auto;
    grid-template-columns: repeat(auto-fill, minmax(30rem,1fr));
    justify-content: center;
    gap:clamp(30px,7vw,40px);
  }

  .art-item{
    justify-content: center;
  
  } 
  
  iframe{
    width: 100%;
    min-width: 250px;
    min-height: 250px;
    max-height: 300px;
  }
 
/* Auste títulos de pie de video */
 .artitem h3{
  display: flex;
  align-items: flex-start;
  justify-content: center;
 
  }
/* Ajuste imágenes de creadores de contenido */

  .ImgVid{
    width: clamp(28px,7vw,45px);
    border-radius: 20px;
  
  }

 

  /* Ajuste de los títulos de los videos */
  h3{
    font-size: clamp(15px,7vw,25px);
  
  }
  /*Ajuste  tamaño de letra span */
  .PieVideo Span {
    font-size: clamp(18px,18vw,22px);
 
  }
  /* Finaliza ajuste videos  */

  
}